/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
}
